{% extends "home.html" %}
{% block content %}
<div class="container">
<form id="recipe_form" action="" method="post" enctype=multipart/form-data>
    <label for="recipe_name">Recipe name:</label>
    <input type="text" name="recipe_name" id="recipe_name">
    <span></span><br>
    <label for="image_upload">Image file: </label><span></span>
    <input type="file" name="image_upload" id="image_upload" accept=".bmp, .png, .jpg, .jpeg">
    <span></span><br>
    <label for="ingredients">Ingredients: </label>
    <textarea multiple name="ingredients" id="ingredients" rows="3"></textarea>
    <span></span><br>
    <label for="instructions">Instructions: </label>
    <textarea name="instructions" id="instructions" rows="3"></textarea>
    <span></span><br>
    <label for="servings">Servings:</label>
    <input type="text" name="servings" id="servings" placeholder="Must be a number.">
    <span></span><br>
    <input type="button" name="submit_recipe" id="submit_recipe" value="Submit">
</form>
</div>
<script src="/static/js/jquery-3.6.0.min.js"></script>
<script src="/static/js/validateRecipe.js"></script>
{% endblock %}